.container {
  max-width: 99%;
  margin : auto;
  background-color: white;
  font-family: Arial, sans-serif;
  border-radius: 1em;
}

h1 {
  border-radius: 0.5em 0.5em 0 0;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  font-size: 30px;
  text-align: center;
  color: white;
  background-color: #0056b3;
}
